<div>
  <h3>Sửa nhân viên</h3>
  <form #formAdd="ngForm" (submit)="onSubmit(formAdd.value)">
    {{ employee | json }}
    <div class="mb-2">
      <label for="name" class="form-label">Tên phòng ban</label>
      <input
        type="text"
        class="form-control"
        name="fullName"
        [(ngModel)]="employee.fullName"
        #fullName="ngModel"
        placeholder="nhập tên phòng ban"
        required
      />
    </div>
    <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
      <p *ngIf="fullName.errors?.['required']" class="text-danger">
        Vui lòng nhập họ và tên
      </p>
    </div>
    <div class="mb-2">
      <label for="name" class="form-label">Email</label>
      <input
        type="text"
        class="form-control"
        name="email"
        [(ngModel)]="employee.email"
        #email="ngModel"
        placeholder="nhập tên phòng ban"
        required
      />
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <p *ngIf="email.errors?.['required']" class="text-danger">
        Vui lòng nhập email
      </p>
    </div>
    <div class="mb-2">
      <label for="name" class="form-label">Tên phòng ban</label>
      <input
        type="text"
        class="form-control"
        name="fullName"
        [(ngModel)]="employee.fullName"
        #fullName="ngModel"
        placeholder="nhập tên phòng ban"
        required
      />
    </div>
    <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
      <p *ngIf="fullName.errors?.['required']" class="text-danger">
        Vui lòng nhập tên phòng ban
      </p>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Thêm mới</button>
      <a routerLink="/employee" class="btn btn-outline-secondary ms-2"
        >Quay lại</a
      >
    </div>
  </form>
</div>
