<div class="pt-4">
  <div class="d-flex justify-content-between">
    <h3 class="page-title">Nhân viên</h3>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#employeeAdd"
    >
      <i class="fa-solid fa-user-plus"></i>
      Thêm mới
    </button>
  </div>
  <app-employee-add></app-employee-add>
  <div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-gray-800">Danh sách nhân viên</h6>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <div class="d-flex align-items-center gap-2">
          <select
            name="itemPerPage"
            id=""
            class="form-select"
            style="width: 200px"
          >
            <option selected>Số phần tử mỗi trang</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>

          <select
            name="degree"
            class="form-select my-2"
            aria-label="Default select example"
            style="width: 150px"
          >
            <option selected>Lọc theo</option>
            <option value="1">Bằng cấp</option>
            <option value="2">Chuyên môn</option>
            <option value="3">Phòng ban</option>
          </select>
        </div>

        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <th>STT</th>
              <th>Họ và tên</th>
              <th>Ngày sinh</th>
              <th>Email</th>
              <th>Chức vụ</th>
              <th>Bằng cấp</th>
              <th>Chuyên môn</th>
              <th>Mã phòng ban</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees; index as index">
              <td>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </td>
              <td>{{ index + 1 }}</td>
              <td>{{ employee.fullname }}</td>
              <td>{{ employee.birthday | date: "mediumDate" }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.roleId }}</td>
              <td>{{ employee.degree }}</td>
              <td>{{ employee.specialize }}</td>
              <td>{{ employee.department_id }}</td>
              <td class="d-flex justify-content-around">
                <a
                  [routerLink]="['/employee/edit', employee.id]"
                  class="btn btn-outline-secondary"
                >
                  <i class="fa-solid fa-user-pen"></i>
                </a>
                <button
                  class="btn btn-danger"
                  (click)="removeById(employee.id)"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end align-items-center">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
