<div class="d-flex justify-content-center align-items-center mt-5 flex-column">
  <h3 class="mb-3">Đăng nhập</h3>
  <form #loginForm="ngForm" class="w-25" (submit)="onSubmit(loginForm.value)">
    <div class="mb-3">
      <label for="userName" class="form-label">Tên đăng nhập</label>
      <input
        type="text"
        placeholder="nhập tên đăng nhập"
        class="form-control"
        name="username"
        [(ngModel)]="admin.username"
        #userName="ngModel"
      />
    </div>
    <div class="mb-3">
      <label for="userName" class="form-label">Mật khẩu</label>
      <input
        type="password"
        placeholder="nhập mật khẩu"
        class="form-control"
        name="pass"
        [(ngModel)]="admin.pass"
        #password="ngModel"
      />
    </div>
    <button class="w-100 btn btn-primary">Đăng nhập</button>
  </form>
</div>
