#wrapper {
  display: flex;
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.btn-primary {
  background-color: #4e73df;
  color: #fff;
}

.main {
  flex: 1 0 auto;
}

/* Topbar */

.topbar {
  flex-flow: row nowrap;
  height: 4.375rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  border: 0;

  &-search {
    width: 25rem;
  }
}

.search {
  &-input {
    height: auto;
    background-color: #f8f9fc;
    font-size: 0.85rem;
    border: none;
  }
}

/* Main */
.page-title {
  color: #5a5c69;
}
