<div id="wrapper">
  <div class="sidebar">
    <a
      class="sidebar-brand d-flex align-items-center justify-center"
      routerLink=""
    >
      <div class="sidebar-brand-icon">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text d-flex mx-3">
        SB Admin
        <span>2</span>
      </div>
    </a>
    <li class="sidebar-item sidebar-divider">
      <a
        class="sidebar-link"
        routerLink="dashboard"
        routerLinkActive="bg-primary text-white rounded p-2"
      >
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a
        class="sidebar-link"
        routerLink="department"
        routerLinkActive="bg-primary text-white rounded p-2"
      >
        <i class="fa-solid fa-building"></i>
        <span>Phòng ban</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a
        class="sidebar-link"
        routerLink="employee"
        routerLinkActive="bg-primary text-white rounded p-2"
      >
        <i class="fa-solid fa-user"></i>
        <span>Nhân viên</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a
        class="sidebar-link"
        routerLink="history"
        routerLinkActive="bg-primary text-white rounded p-2"
      >
        <i class="fa-solid fa-pen-to-square"></i>
        <span>Lịch sử hoạt động</span>
      </a>
    </li>
  </div>
  <div class="main">
    <div class="topbar d-flex align-items-center justify-content-between mb-4">
      <form #searchForm="ngForm" class="topbar-search">
        <div class="input-group">
          <input
            type="text"
            name="searchValue"
            class="form-control search-input"
            placeholder="tìm kiếm"
          />
          <button class="btn btn-primary">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </form>

      <div *ngIf="userName">
        xin chào {{ userName }}
        <button class="btn btn-outline-secondary mx-2" (click)="logout()">
          Đăng xuất
        </button>
      </div>
      <a class="btn btn-primary" routerLink="login" [hidden]="userName"
        >Đăng nhập</a
      >
    </div>
    <main class="container-fluid">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
