<div class="pt-4">
  <div class="d-flex justify-content-between">
    <h3 class="page-title">Nhân viên</h3>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#employeeAdd"
    >
      <i class="fa-regular fa-plus"></i>
      Thêm mới
    </button>
  </div>
  <app-employee-add></app-employee-add>
  <div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-gray-800">Danh sách nhân viên</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>STT</th>
              <th>Họ và tên</th>
              <th>Ngày sinh</th>
              <th>Chức vụ</th>
              <th>Bằng cấp</th>
              <th>Chuyên môn</th>
              <th>Mã phòng ban</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
              <td>Sửa Văn bản</td>
              <td class="d-flex justify-content-around">
                <a [routerLink]="['edit']" class="btn btn-outline-secondary"
                  >Sửa</a
                >
                <button
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#employeeDelete"
                >
                  Xóa
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <app-employee-delete></app-employee-delete>
      </div>
    </div>
  </div>
</div>
