<div class="topbar d-flex align-items-center justify-content-between mb-4">
  <form #searchForm="ngForm" class="topbar-search">
    <div class="input-group">
      <input
        type="text"
        name="searchValue"
        class="form-control search-input"
        placeholder="tìm kiếm"
      />
      <button class="btn btn-primary">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </form>

  <!--dropdown -->

  <div class="dropdown" *ngIf="userName">
    <button
      class="btn dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      xin chào {{ userName }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Chỉnh sửa thông tin</a></li>
      <li>
        <a class="dropdown-item" href="#" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          Đăng xuất
        </a>
      </li>
    </ul>
  </div>
  <a class="btn btn-primary" routerLink="login" [hidden]="userName"
    >Đăng nhập</a
  >
  <!-- end of dropdown -->
</div>
