<div class="container-fluid">
  <h3>Sửa nhân viên</h3>
  <form #formAdd="ngForm" (submit)="onSubmit(formAdd.value)" class="py-3">
    <div class="mb-3">
      <label for="fullname" class="form-label">Họ và tên</label>
      <input
        type="text"
        placeholder="nhập họ và tên"
        class="form-control"
        name="fullname"
        [(ngModel)]="employee.fullname"
        #fullName="ngModel"
        required=""
      />
      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
        <p *ngIf="fullName.errors?.['required']" class="text-danger">
          Vui lòng nhập họ và tên
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Email</label>
      <input
        type="text"
        placeholder="nhập email"
        class="form-control"
        name="email"
        [(ngModel)]="employee.email"
        #email="ngModel"
        required=""
      />
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <p *ngIf="email.errors?.['required']" class="text-danger">
          Vui lòng nhập email
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Ngày sinh</label>
      <input
        type="date"
        placeholder="nhập ngày sinh"
        class="form-control"
        name="birthday"
        [(ngModel)]="employee.birthday"
        #birthday="ngModel"
        required=""
      />
      <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
        <p *ngIf="birthday.errors?.['required']" class="text-danger">
          Vui lòng nhập ngày sinh
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Bằng cấp</label>
      <input
        type="text"
        placeholder="nhập bằng cấp"
        class="form-control"
        name="degree"
        [(ngModel)]="employee.degree"
        #degree="ngModel"
        required=""
      />
      <div *ngIf="degree.invalid && (degree.dirty || degree.touched)">
        <p *ngIf="degree.errors?.['required']" class="text-danger">
          Vui lòng nhập bằng cấp
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="specialize" class="form-label">Chức vụ</label>
      <select
        name="roleId"
        id="roleId"
        [(ngModel)]="employee.roleId"
        #roleId="ngModel"
        required
        class="form-select"
      >
        <option selected>Chọn chức vụ</option>
        <option *ngFor="let role of roles" [ngValue]="role.roleId">
          {{ role.roleName }}
        </option>
      </select>
      <div *ngIf="roleId.invalid && (roleId.dirty || roleId.touched)">
        <p *ngIf="roleId.errors?.['required']" class="text-danger">
          Vui lòng nhập chức vụ
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="specialize" class="form-label">Chuyên môn</label>
      <input
        type="text"
        placeholder="nhập chức vụ"
        class="form-control"
        name="specialize"
        [(ngModel)]="employee.specialize"
        #specialize="ngModel"
        required
      />
      <div
        *ngIf="specialize.invalid && (specialize.dirty || specialize.touched)"
      >
        <p *ngIf="specialize.errors?.['required']" class="text-danger">
          Vui lòng chuyên môn
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="specialize" class="form-label">Phòng ban</label>
      <select
        class="form-select"
        name="department"
        [(ngModel)]="employee.department_id"
        #department_id="ngModel"
        required
      >
        <option selected>Chọn phòng ban</option>
        <option
          *ngFor="let department of departments"
          [ngValue]="department.department_id"
        >
          {{ department.departmentName }}
        </option>
      </select>
      <div
        *ngIf="
          department_id.invalid &&
          (department_id.dirty || department_id.touched)
        "
      >
        <p *ngIf="department_id.errors?.['required']" class="text-danger">
          Vui lòng nhập chuyên môn
        </p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
    <a routerLink="/employee" class="btn btn-outline-secondary mx-2"
      >Quay lại</a
    >
  </form>
</div>
