<div class="pt-4">
  <div class="d-flex justify-content-between">
    <h3 class="page-title">Vai trò</h3>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#roleAdd"
    >
      <i class="fa-regular fa-plus"></i>
      Thêm mới
    </button>
  </div>

  <div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-gray-800">Danh sách vai trò</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên Vai trò</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles; index as index">
              <td>{{ role.roleId }}</td>
              <td>{{ role.roleName }}</td>
              <td class="d-flex gap-2">
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#roleEdit"
                  class="btn btn-outline-secondary"
                >
                  <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                </button>
                <button class="btn btn-danger" (click)="onRemove(role.roleId)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="roleAdd"
  tabindex="-1"
  aria-labelledby="roleAdd"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roleAdd">Thêm vai trò</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #formAdd="ngForm" (submit)="onSubmit(formAdd.value)">
          {{ role | json }}
          <div class="mb-2">
            <label for="roleId" class="form-label">Mã vai trò</label>
            <input
              type="number"
              class="form-control"
              name="roleId"
              [(ngModel)]="role.roleId"
              #roleId="ngModel"
              placeholder="nhập tên phòng ban"
              required
            />
          </div>
          <div *ngIf="roleId.invalid && (roleId.dirty || roleId.touched)">
            <p *ngIf="roleId.errors?.['required']" class="text-danger">
              Vui lòng nhập mã vai trò
            </p>
          </div>
          <div class="mb-2">
            <label for="name" class="form-label">Tên vai trò</label>
            <input
              type="text"
              class="form-control"
              name="roleName"
              [(ngModel)]="role.roleName"
              #roleName="ngModel"
              placeholder="nhập tên phòng ban"
              required
            />
          </div>
          <div *ngIf="roleName.invalid && (roleName.dirty || roleName.touched)">
            <p *ngIf="roleName.errors?.['required']" class="text-danger">
              Vui lòng nhập tên vai trò
            </p>
          </div>
          <button class="btn btn-primary" type="submit">Thêm mới</button>
        </form>
      </div>
    </div>
  </div>
</div>
