<div class="pt-4">
  <div class="d-flex justify-content-between">
    <h3 class="page-title">Phòng ban</h3>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#departmentAdd"
    >
      <i class="fa-regular fa-plus"></i>
      Thêm mới
    </button>
  </div>
  <app-deparment-add></app-deparment-add>
  <div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-gray-800">Danh sách phòng ban</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên phòng ban</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of departments; index as index">
              <td>{{ department.department_id }}</td>
              <td>{{ department.departmentName }}</td>
              <td class="d-flex gap-2">
                <a
                  [routerLink]="['/department/edit', department.department_id]"
                  class="btn btn-outline-secondary"
                  >Sửa</a
                >
                <button
                  class="btn btn-danger"
                  (click)="onRemove(department.department_id)"
                >
                  Xóa
                </button>
                <!-- Modal Delete-->
                <!-- <div
                   data-bs-toggle="modal"
                  data-bs-target="#departmentDelete"
                  class="modal fade"
                  id="departmentDelete"
                  tabindex="-1"
                  aria-labelledby="departmentDelete"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Xóa phòng ban
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">Bạn có muốn xóa hay không?</div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Hủy
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary"
                          (click)="onRemove(department.department_id)"
                        >
                          Xóa
                        </button>
                      </div>
                    </div>
                  </div>
                </div> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
