<div class="pt-4">
  <div class="d-flex justify-content-between">
    <h3 class="page-title">Phòng ban</h3>
    <button
      routerLink="add"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#employeeAdd"
    >
      <i class="fa-regular fa-plus"></i>
      Thêm mới
    </button>
  </div>
  <app-deparment-add></app-deparment-add>
  <div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-gray-800">Danh sách phòng ban</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên phòng ban</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Phòng nhân sự</td>
              <td class="d-flex gap-2">
                <a [routerLink]="['edit']" class="btn btn-outline-secondary"
                  >Sửa</a
                >
                <button class="btn btn-danger">Xóa</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
